@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.2;
}

img,
picture {
  max-width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --grey: hsl(0, 1%, 44%);
  --black: hsl(0, 0%, 8%);
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

:root {
  --font-family: "Poppins", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fs-small: 1.2rem;
  --fs-regular: 2rem;
  --fs-big: 6rem;
}

@media (max-width: 376px) {
  :root {
    --fs-small: 0.7rem;
    --fs-regular: 1.1rem;
    --fs-big: 3rem;
  }
}
body {
  background-color: var(--off-white);
}

.container {
  margin: 0 auto;
  width: 60%;
}

.attribution {
  text-align: center;
}

@media (max-width: 376px) {
  .container {
    width: 90%;
  }
}
body {
  font-family: var(--font-family);
}

.attribution {
  margin-top: 4rem;
  color: var(--grey);
  font-size: var(--fs-small);
}
.attribution p {
  margin-top: 0.3rem;
}
.attribution a {
  color: var(--grey);
  font-weight: var(--fw-bold);
}

@media (max-width: 376px) {
  .attribution {
    margin-top: 2.5rem;
    font-size: var(--fs-regular);
  }
}
.age {
  font-size: var(--fs-big);
  font-weight: var(--fw-extrabold);
  font-style: italic;
  color: var(--black);
  letter-spacing: -3px;
}
.age__number {
  color: var(--purple);
  letter-spacing: 14px;
}

@media (max-width: 376px) {
  .age {
    letter-spacing: -2px;
  }
  .age__number {
    margin-right: 0.5rem;
    letter-spacing: 1px;
  }
}
.form {
  margin-top: 5rem;
  background-color: var(--white);
  padding: 4rem;
  border-radius: 20px;
  border-bottom-right-radius: 150px;
}
.form__head {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  gap: 2rem;
}
.form__label {
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: var(--grey);
}
.form__input {
  height: 5.5rem;
  font-size: var(--fs-regular);
  font-weight: var(--fw-bold);
  color: var(--black);
  margin-top: 0.8rem;
  border: solid 3px var(--off-white);
  border-radius: 10px;
  padding: 0.6rem 1.5rem;
  transition: all 250ms ease;
}
.form__input:focus {
  outline-style: none;
}
.form__input:hover {
  border-color: var(--purple);
}
.form__input::-moz-placeholder {
  font-size: var(--fs-regular);
  font-weight: var(--fw-bold);
}
.form__input::placeholder {
  font-size: var(--fs-regular);
  font-weight: var(--fw-bold);
}

.input-wrapper.error .form__label {
  color: var(--light-red);
}
.input-wrapper.error .form__input {
  border-color: var(--light-red);
}

.input-wrapper .error-message {
  color: var(--light-red);
  font-size: var(--fs-small);
  margin-top: 0.5rem;
}

@media (max-width: 376px) {
  .form {
    padding: 3rem 1.4rem;
    border-bottom-right-radius: 100px;
  }
  .form__head {
    grid-template-columns: repeat(3, 30%);
    gap: 0.5rem;
  }
  .form__input {
    margin-top: 0.4rem;
    height: 3rem;
    padding: 0.4rem 0.6rem;
  }
}
.btn-wrapper {
  position: relative;
  width: 100%;
  height: 6rem;
}

.line {
  position: absolute;
  top: 3rem;
  width: 100%;
  height: 3.1px;
  border: 1px solid var(--off-white);
  background-color: var(--off-white);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3rem;
  margin-left: auto;
  margin-right: -2px;
  border: none;
  height: 6rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--purple);
  transition: all 250ms ease;
}
.button:hover {
  background-color: var(--black);
}
.button:focus {
  box-shadow: 0 0 1px 10px var(--grey);
}

@media (max-width: 376px) {
  .btn-wrapper {
    margin: 2rem 0;
    height: 3.5rem;
  }
  .line {
    top: 1.75rem;
    height: 2px;
  }
  .button {
    margin: 0;
    margin-top: -1.75rem;
    margin-inline: auto;
    height: 3.5rem;
  }
  .button__arrow {
    height: 1.4rem;
  }
}/*# sourceMappingURL=style.css.map */