@use "../util" as u;

.age {
    font-size: var(--fs-big);
    font-weight: var(--fw-extrabold);
    font-style: italic;
    color: var(--black);
    letter-spacing: -3px;

    &__number {
        color: var(--purple);
        letter-spacing: 14px;
    }
}

.age.success {
    .age__number{
        letter-spacing: 1px;
        margin-right: 0.7rem;
    }
    
}

@media (max-width: u.$mobile){
    .age {
        letter-spacing: -2px;
    
        &__number {
            margin-right: 0.5rem;
            letter-spacing: 1px;
        }
    }
}