@use "../util" as u;

.age {
    font-size: var(--fs-big);
    font-weight: var(--fw-extrabold);
    font-style: italic;
    color: var(--black);
    letter-spacing: -2px;

    &__number {
        margin-right: 0.5rem;
        color: var(--purple);
        letter-spacing: 1px;
        @include u.animation(500ms);
    }
}

.age.success {
    .age__number{
        letter-spacing: 1px;
        margin-right: 0.8rem;
    }
    
}

@media (min-width: u.$desktop){
    .age {
        letter-spacing: -3px;
    
        &__number {
            margin: 0rem;
            letter-spacing: 14px;
        }
    }
}