@use "../util" as u;

.age {
    font-size: var(--fs-big);
    font-weight: var(--fw-extrabold);
    font-style: italic;
    color: var(--black);
    letter-spacing: -2px;

    &__wrapper {
        display: flex;
        flex-direction: row;
        overflow: hidden;
      }

    &__number {
        margin-right: 0.5rem;
        color: var(--purple);
        letter-spacing: 1px;
        @include u.animation(500ms);
    }
}

.age-year.animation{

    animation: rollNumber 100ms ease-in 0ms 19 forwards;
}

.age-month.animation{

    animation: rollNumber 100ms ease-in 200ms 28 forwards;
}

.age-day.animation{

    animation: rollNumber 100ms ease-in 400ms 36 forwards;
}

.age.success {
    .age__number{
        letter-spacing: 1px;
        margin-right: 0.8rem;
        transition: all 200ms;
    }
}
  
  @keyframes rollNumber {
    0% {
      opacity: 0;
      transform: translateY(-5%) scaleY(1) scaleX(1);
    }
    15% {
      transform: translateY(-25%) scaleY(1.15) scaleX(0.9);
      opacity: 0.2;
    }
    30% {
      transform: translateY(-40%) scaleY(1.3) scaleX(0.8);
      opacity: 0.4;
    }
    40% {
      transform: translateY(-50%) scaleY(1.5) scaleX(0.8);
    }
    45% {
      transform: translateY(-120%) translateX(-50%) scaleY(0);
    }
    70% {
      transform: translateY(120%) translateX(0) scaleY(0);
    }
    75% {
      transform: translateY(80%) scaleY(1.3);
    }
    85% {
      transform: translateY(40%) scaleY(1.2);
      opacity: 0.7;
    }
    95%{
      transform: translateY(30%) scaleY(1.1);
    } 
    100% {
      transform: translateY(0) scaleY(1);
      opacity: 1;
    }
}

@media (min-width: u.$desktop){
    .age {
        letter-spacing: -3px;
    
        &__number {
            margin-right: 0.8rem;
            letter-spacing: 14px;
        }
    }
}