@use "../util" as u;

$height-btn: 6rem;
$negative-height-btn: -6rem;

.btn-wrapper {
    position: relative;
    width: 100%;
    height: $height-btn;
  }
  
  .line {
    position: absolute;
    top: calc($height-btn / 2);
    width: 100%;
    height: 3.1px;
    border: 1px solid var(--off-white);
    background-color: var(--off-white);
  }
  
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calc( $negative-height-btn / 2);
    margin-left: auto;
    margin-right: -2px;
    border: none;
    height: $height-btn;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--purple);
    box-shadow: 0 0 1px 1px transparent;
    @include u.animation(200ms);

    &:hover {
      background-color: var(--black);
    }

    &:active {
      box-shadow: 0 0 1px 25px var(--grey);
    }
  }

  @media (max-width: u.$mobile) {

    $height-btn: 3.5rem;
    $negative-height-btn: -3.5rem;

.btn-wrapper {
    margin: 2rem 0;
    height: $height-btn;
  }
  
  .line {
    top: calc($height-btn / 2);
    height: 2px;
  }
  
.button {
    margin: 0;
    margin-top: calc( $negative-height-btn / 2);
    margin-inline: auto;
    height: $height-btn;

    &__arrow {
      height: calc($height-btn / 2.5);
    }
  }

}
