@use "../util" as u;

.form {
    margin-top: 5rem;
    background-color: var(--white);
    padding: 4rem;
    border-radius: 20px;
    border-bottom-right-radius: 150px;

    &__head {
        display: grid;
        grid-template-columns: repeat(3, 20%);
        gap: 2rem;
    }

    &__label{
        font-size: var(--fs-small);
        font-weight: var(--fw-bold);
        text-transform: uppercase;
        letter-spacing: 2.5px;
        color: var(--grey);
    }

    &__input {
        height: 5.5rem;
        font-size: var(--fs-regular);
        font-weight: var(--fw-bold);
        color: var(--black);
        margin-top: 0.8rem;
        border: solid 3px var(--off-white);
        border-radius: 10px;
        padding: 0.6rem 1.5rem;
        @include u.animation;

        &:focus {
            outline-style: none;
        }

        &:hover {
            border-color: var(--purple);
        }
    }

    &__input::placeholder {
        font-size: var(--fs-regular);
        font-weight: var(--fw-bold);
    }

}

.input-wrapper.error{

    .form__label{
        color: var(--light-red);
    }

    .form__input {
        border-color: var(--light-red);
    }
    
}

.input-wrapper .error-message {
    color: var(--light-red);
    font-size: var(--fs-small);
    margin-top: 0.5rem;
}

@media (max-width: u.$mobile){
    .form {
        padding: 3rem 1.4rem;
        border-bottom-right-radius: 100px;

        &__head {
            grid-template-columns: repeat(3, 30%);
            gap: 0.5rem;
        }
    
        &__input {
            margin-top: 0.4rem;
            height: 3rem;
            padding: 0.4rem 0.6rem;
        }
    
    }
    
}

