.form {
    background-color: var(--white);
    padding: 4rem;
    border-radius: 20px;
    border-bottom-right-radius: 150px;

    &__head {
        display: grid;
        grid-template-columns: repeat(3, 20%);
        gap: 2rem;
    }

    &__label{
        font-size: var(--fs-small);
        font-weight: var(--fw-bold);
        text-transform: uppercase;
        letter-spacing: 2.5px;
        color: var(--grey);
    }

    &__input {
        height: 5.5rem;
        font-size: var(--fs-regular);
        font-weight: var(--fw-bold);
        color: var(--grey);
        margin-top: 0.8rem;
        border: solid 3px var(--off-white);
        border-radius: 10px;
        padding: 0.6rem 1.5rem;
    }

    &__input::placeholder {
        font-size: var(--fs-regular);
        font-weight: var(--fw-bold);
    }
}

