$desktop: 1440px;
$tablet: 700px;
$mobile: 376px;
$t-time: 250ms;

@mixin animation($time:$t-time) {
    transition: all $time ease;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
