$desktop: 1440px;
$tablet: 820px;
$mobile: 376px;
$t-time: 250ms;

@mixin animation {
    transition: all $t-time ease;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
