@use "layout" as u;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

:root {
    --font-family: 'Poppins', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extrabold: 800;
    --fs-small: 1.2rem;
    --fs-regular: 2rem;
    --fs-big: 6rem;
}

@media (min-width: u.$tablet) and (max-width: u.$desktop){
    :root {
        --fs-small: 1rem;
        --fs-regular: 1.8rem;
        --fs-big: 5rem;
    }
}

@media (min-width: u.$mobile) and (max-width: u.$tablet){
    :root {
        --fs-small: 0.7rem;
        --fs-regular: 1.1rem;
        --fs-big: 3rem;
    }
}

@media (max-width: u.$mobile){
    :root {
        --fs-small: 0.7rem;
        --fs-regular: 1.1rem;
        --fs-big: 3rem;
    }
}

