@use "../util" as u;

body {
    background-color: var(--off-white);
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
}

.attribution {
    text-align: center;
}

@media (min-width: u.$desktop) {
    .container{
        width: 60%;
    }
}
