@use "../util" as u;

body {
    font-family: var(--font-family);
}

.attribution {
    margin-top: 2.5rem;
    font-size: var(--fs-small);
    color: var(--grey);
    p {
        margin-top: 0.3rem;
    }
    a { 
        color: var(--grey);
        font-weight: var(--fw-bold);
    }
}

@media (min-width: u.$tablet){
    .attribution {
        font-size: var(--fs-small);
    }
}

@media (min-width: u.$desktop){
    .attribution {
        margin-top: 4rem;
    }
}